body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  color: #333;
}
#result {
    text-align: center;
}
#result .green {
  color: #2ecc71;
}

#result .red {
  color: #e74c3c;
}
#countdown {
    color: red;
}
button {
    padding: 10px;
    background-color: #0095ff;
    border: 0;
    color: white;
}
input[type="number"] {
    text-align: center;
    padding: 5px;
    font-size: 16px;
}
